* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
  color: cornflowerblue;
}

.hola-mundo {
  background-color: coral;
  text-align: center;
  max-width: 650px;
  margin: 15px auto;
}

.hola-mundo:hover {
background-color: rgb(255, 95, 2);
transition: .3s;
}

h1:hover{
    color: white;
    transform: skew(-15deg);
    transition: .3s;
}

.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-index img{
padding: 5px;
}

@media (max-width: 650px) {
  .hola-mundo {
    background-color: rgb(236, 194, 178);
  }
}
